## String Operations

In [2]:
"Hello World"

'Hello World'

In [3]:
type("Hello World")

str

In [4]:
hello = "Hello World"

In [5]:
hello

'Hello World'

In [6]:
len(hello)

11

In [7]:
hello.lower()

'hello world'

In [8]:
hello.upper()

'HELLO WORLD'

In [9]:
hello.title()

'Hello World'

In [10]:
hello.split()

['Hello', 'World']

In [11]:
hello.replace("Hello", "Hi")

'Hi World'

In [12]:
import pandas as pd

In [13]:
summer = pd.read_csv('../Course_Materials_Part1/Video_Lecture_NBs/summer.csv')

In [14]:
summer.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

In [15]:
names = summer.loc[:9, "Athlete"].copy()

In [16]:
names

0            HAJOS, Alfred
1         HERSCHMANN, Otto
2        DRIVAS, Dimitrios
3       MALOKINIS, Ioannis
4       CHASAPIS, Spiridon
5    CHOROPHAS, Efstathios
6            HAJOS, Alfred
7         ANDREOU, Joannis
8    CHOROPHAS, Efstathios
9            NEUMANN, Paul
Name: Athlete, dtype: object

In [17]:
names.dtypes

dtype('O')

In [18]:
names[0]

'HAJOS, Alfred'

In [19]:
type(names[0])

str

#### Transform the object into a string with str and apply the string methods

In [23]:
names.str.title()

0            Hajos, Alfred
1         Herschmann, Otto
2        Drivas, Dimitrios
3       Malokinis, Ioannis
4       Chasapis, Spiridon
5    Chorophas, Efstathios
6            Hajos, Alfred
7         Andreou, Joannis
8    Chorophas, Efstathios
9            Neumann, Paul
Name: Athlete, dtype: object