# Removing Missing Values with dropna()

## Import bibliotecas

In [1]:
import pandas as pd

In [2]:
tit = pd.read_csv('../Course_Materials_Part2/Video_Lecture_NBs/titanic.csv')

In [3]:
tit.head()

   survived  pclass     sex   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN

In [4]:
tit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   survived  891 non-null    int64
 1   pclass    891 non-null    int64
 2   sex       891 non-null    object
 3   age       714 non-null    float64
 4   sibsp     891 non-null    int64
 5   parch     891 non-null    int64
 6   fare      891 non-null    float64
 7   embarked  889 non-null    object
 8   deck      203 non-null    object
dtypes: float64(2), int64(4), object(3)
memory usage: 62.8+ KB

In [5]:
tit[tit.embarked.isna()]

     survived  pclass     sex   age  sibsp  parch  fare embarked deck
61          1       1  female  38.0      0      0  80.0      NaN    B
829         1       1  female  62.0      0      0  80.0      NaN    B

In [6]:
tit.age.value_counts(dropna=False)

NaN      177
24.00     30
22.00     27
18.00     26
28.00     25
        ...
0.42       1
34.50      1
66.00      1
14.50      1
0.92       1
Name: age, Length: 89, dtype: int64

In [9]:
tit.age.mean(skipna=True)

29.69911764705882

In [10]:
tit.shape

(891, 9)

In [11]:
tit.dropna().shape

(182, 9)

In [12]:
tit.dropna(axis=0, how = "any").shape

(182, 9)

In [13]:
tit.dropna(axis=1, how = "any").shape

(891, 6)

In [14]:
tit.dropna(axis=0, how = "all").shape

(891, 9)

In [15]:
tit.dropna(axis=1, how = "all").shape

(891, 9)

In [16]:
tit.dropna(axis=0, thresh=8).shape

(733, 9)

In [17]:
tit.dropna(axis=1, thresh=500).shape

(891, 8)

In [18]:
tit.dropna(axis=1, thresh=500, inplace=True)

In [19]:
tit.shape

(891, 8)

In [20]:
tit.dropna(axis=0, subset=["survived", "pclass","sex", "age"], thresh=4).shape

(714, 8)