### Any() and all()

### Import de bibliotecas

In [1]:
import pandas as pd

In [20]:
titanic = pd.read_csv('../Course_Materials_Part1/Video_Lecture_NBs/titanic.csv')

In [21]:
titanic.head()

   survived  pclass     sex   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN

In [22]:
titanic.sex == 'male'

0       True
1      False
2      False
3      False
4       True
       ...
886     True
887    False
888    False
889     True
890     True
Name: sex, Length: 891, dtype: bool

In [23]:
(titanic.sex == 'male').any()

True

In [24]:
(titanic.sex == 'male').all()

False

In [25]:
(titanic.age == 80.0).any()

True

#### Check if all values are not equal zeros

In [26]:
pd.Series([-1, 0.5, 1, 0.1]).all()

True

### Check if all passengers paid for the tickets

In [27]:
titanic.fare.all()

False