## Creating DataFrames from Scratch with pd.DataFrame()

### Import de Bibliotecas

In [1]:
import pandas as pd

In [2]:
player = ["Lionel", "Cristiano", "Rogério", "Kylian", "Neuer"]

In [3]:
nacionality = ["Arg", "Por", "Bra", "Fra", "Ger"]

In [4]:
club = ["Barcelona", "Juventus", "São Paulo", "PSG", "Bayern"]

In [5]:
world_champion = [True, False, True, False, True]

In [6]:
height = [1.70, 1.87, 1.75, 1.78, 1.93]

In [7]:
gols = [45, 44, 106, 28, 0]

In [8]:
dic = {"Player": player, 
       "Nacionality": nacionality, 
       "Club": club, 
       "World_Champion": world_champion,
       "Height": height,
       "Goals": gols,}

In [9]:
dic

{'Player': ['Lionel', 'Cristiano', 'Rogério', 'Kylian', 'Neuer'],
 'Nacionality': ['Arg', 'Por', 'Bra', 'Fra', 'Ger'],
 'Club': ['Barcelona', 'Juventus', 'São Paulo', 'PSG', 'Bayern'],
 'World_Champion': [True, False, True, False, True],
 'Height': [1.7, 1.87, 1.75, 1.78, 1.93],
 'Goals': [45, 44, 106, 28, 0]}

In [10]:
df = pd.DataFrame(data=dic)

In [11]:
df

      Player Nacionality       Club  World_Champion  Height  Goals
0     Lionel         Arg  Barcelona            True    1.70     45
1  Cristiano         Por   Juventus           False    1.87     44
2    Rogério         Bra  São Paulo            True    1.75    106
3     Kylian         Fra        PSG           False    1.78     28
4      Neuer         Ger     Bayern            True    1.93      0

In [12]:
players = df.set_index("Player")

In [13]:
players

          Nacionality       Club  World_Champion  Height  Goals
Player
Lionel            Arg  Barcelona            True    1.70     45
Cristiano         Por   Juventus           False    1.87     44
Rogério           Bra  São Paulo            True    1.75    106
Kylian            Fra        PSG           False    1.78     28
Neuer             Ger     Bayern            True    1.93      0

### Having rows in place

In [14]:
list(zip(nacionality, club, world_champion, height, gols))

[('Arg', 'Barcelona', True, 1.7, 45),
 ('Por', 'Juventus', False, 1.87, 44),
 ('Bra', 'São Paulo', True, 1.75, 106),
 ('Fra', 'PSG', False, 1.78, 28),
 ('Ger', 'Bayern', True, 1.93, 0)]

In [15]:
zipped = list(zip(nacionality, club, world_champion, height, gols))

In [16]:
Lionel, Cristiano, Rogerio, Kylian, Neuer = zipped

In [17]:
Lionel

('Arg', 'Barcelona', True, 1.7, 45)

In [18]:
df = pd.DataFrame(data = [Lionel, Cristiano, Rogerio, Kylian, Neuer],
                 index = ["Lionel", "Cristiano", "Rogerio", "Kylian", "Neuer"],
                 columns = ["Nacionality", "Club", "World_Champion", "Height", "Goals"]
                 )

In [19]:
df

          Nacionality       Club  World_Champion  Height  Goals
Lionel            Arg  Barcelona            True    1.70     45
Cristiano         Por   Juventus           False    1.87     44
Rogerio           Bra  São Paulo            True    1.75    106
Kylian            Fra        PSG           False    1.78     28
Neuer             Ger     Bayern            True    1.93      0

In [20]:
df2 = pd.Series(index= player, data= nacionality, name = "Nationality").to_frame()

In [21]:
df2

          Nationality
Lionel            Arg
Cristiano         Por
Rogério           Bra
Kylian            Fra
Neuer             Ger

In [22]:
df2["Club"] = club

In [23]:
df2

          Nationality       Club
Lionel            Arg  Barcelona
Cristiano         Por   Juventus
Rogério           Bra  São Paulo
Kylian            Fra        PSG
Neuer             Ger     Bayern

### Adding new Rows

In [25]:
players

          Nacionality       Club  World_Champion  Height  Goals
Player
Lionel            Arg  Barcelona            True    1.70     45
Cristiano         Por   Juventus           False    1.87     44
Rogério           Bra  São Paulo            True    1.75    106
Kylian            Fra        PSG           False    1.78     28
Neuer             Ger     Bayern            True    1.93      0

In [26]:
players.reset_index(inplace=True)

In [27]:
players

      Player Nacionality       Club  World_Champion  Height  Goals
0     Lionel         Arg  Barcelona            True    1.70     45
1  Cristiano         Por   Juventus           False    1.87     44
2    Rogério         Bra  São Paulo            True    1.75    106
3     Kylian         Fra        PSG           False    1.78     28
4      Neuer         Ger     Bayern            True    1.93      0

In [29]:
players.loc[5,:] = ["Sergio Ramos", "Spa", "Real Madrid", "True", 1.84, 5]

In [30]:
players

         Player Nacionality         Club World_Champion  Height  Goals
0        Lionel         Arg    Barcelona           True    1.70   45.0
1     Cristiano         Por     Juventus          False    1.87   44.0
2       Rogério         Bra    São Paulo           True    1.75  106.0
3        Kylian         Fra          PSG          False    1.78   28.0
4         Neuer         Ger       Bayern           True    1.93    0.0
5  Sergio Ramos         Spa  Real Madrid           True    1.84    5.0

### Adding many rows

In [31]:
new = pd.DataFrame(
                    data = [["Salah", "Egy", "Liverpool", "False", 1.75, 44],
                            ["Suarez", "Uru", "Barcelona", "False", 1.82, 31]], 
                    columns = players.columns)

In [32]:
new

   Player Nacionality       Club World_Champion  Height  Goals
0   Salah         Egy  Liverpool          False    1.75     44
1  Suarez         Uru  Barcelona          False    1.82     31

In [33]:
players = players.append(new, ignore_index=True)

In [34]:
players

         Player Nacionality         Club World_Champion  Height  Goals
0        Lionel         Arg    Barcelona           True    1.70   45.0
1     Cristiano         Por     Juventus          False    1.87   44.0
2       Rogério         Bra    São Paulo           True    1.75  106.0
3        Kylian         Fra          PSG          False    1.78   28.0
4         Neuer         Ger       Bayern           True    1.93    0.0
5  Sergio Ramos         Spa  Real Madrid           True    1.84    5.0
6         Salah         Egy    Liverpool          False    1.75   44.0
7        Suarez         Uru    Barcelona          False    1.82   31.0