# Right Join

In [1]:
import pandas as pd

In [2]:
men2004 = pd.read_csv("../Course_Materials_Part2/Video_Lecture_NBs/men2004.csv")
men2008 = pd.read_csv("../Course_Materials_Part2/Video_Lecture_NBs/men2008.csv")

In [3]:
men2004.merge(men2008, how="right", on="Athlete", suffixes=("_2004", "_2008"), indicator=True)

                Athlete  Medals_2004  Medals_2008      _merge
0       PHELPS, Michael          8.0            8        both
1          LOCHTE, Ryan          2.0            4        both
2        BERNARD, Alain          NaN            3  right_only
3       SULLIVAN, Eamon          NaN            3  right_only
4   LAUTERSTEIN, Andrew          NaN            3  right_only
..                  ...          ...          ...         ...
57     LAGUNOV, Evgeniy          NaN            1  right_only
58        BERENS, Ricky          NaN            1  right_only
59         LURZ, Thomas          NaN            1  right_only
60      MALLET, Gregory          NaN            1  right_only
61           ZHANG, Lin          NaN            1  right_only

[62 rows x 4 columns]