# Joining on many columns

In [1]:
import pandas as pd

In [7]:
men2004_det = pd.read_csv("../Course_Materials_Part2/Video_Lecture_NBs/men2004_det.csv")
men2008_det = pd.read_csv("../Course_Materials_Part2/Video_Lecture_NBs/men2008_det.csv")

In [8]:
men2004_det.head(10)

                 Athlete   Medal  Count
0         BOVELL, George  Bronze      1
1    BREMBILLA, Emiliano  Bronze      1
2  CAPPELLAZZO, Federico  Bronze      1
3        CERCATO, Simone  Bronze      1
4           CONRAD, Lars  Silver      1
5           CROCKER, Ian  Bronze      1
6           CROCKER, Ian    Gold      1
7           CROCKER, Ian  Silver      1
8           CSEH, Laszlo  Bronze      1
9          DAVIES, David  Bronze      1

In [9]:
men2004_det.loc[men2004_det.Athlete == "PHELPS, Michael"]

            Athlete   Medal  Count
50  PHELPS, Michael  Bronze      2
51  PHELPS, Michael    Gold      6

In [10]:
men2008_det.loc[men2008_det.Athlete == "PHELPS, Michael"]

            Athlete Medal  Count
54  PHELPS, Michael  Gold      8

In [18]:
men0408 = men2004_det.merge(men2008_det, how="outer", on=["Athlete", "Medal"], suffixes=("_2004", "_2008"))

In [19]:
men0408.loc[men0408.Athlete == "PHELPS, Michael"]

            Athlete   Medal  Count_2004  Count_2008
50  PHELPS, Michael  Bronze         2.0         NaN
51  PHELPS, Michael    Gold         6.0         8.0

In [20]:
men0408 = men2004_det.merge(men2008_det, how="inner", on=["Athlete", "Medal"], suffixes=("_2004", "_2008"))

In [21]:
men0408.loc[men0408.Athlete == "PHELPS, Michael"]

            Athlete Medal  Count_2004  Count_2008
12  PHELPS, Michael  Gold           6           8