### Pandas Series

#### Import de bibliotecas

In [1]:
import pandas as pd

In [2]:
titanic = pd.read_csv('../Course_Materials_Part1/Video_Lecture_NBs/titanic.csv')

In [3]:
titanic

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

In [4]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   survived  891 non-null    int64
 1   pclass    891 non-null    int64
 2   sex       891 non-null    object
 3   age       714 non-null    float64
 4   sibsp     891 non-null    int64
 5   parch     891 non-null    int64
 6   fare      891 non-null    float64
 7   embarked  889 non-null    object
 8   deck      203 non-null    object
dtypes: float64(2), int64(4), object(3)
memory usage: 62.8+ KB

In [5]:
titanic["age"]

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, Length: 891, dtype: float64

In [6]:
type(titanic["age"])

pandas.core.series.Series

In [7]:
titanic["age"].equals(titanic.age)

True

In [8]:
age = titanic.age

In [9]:
age.head(2)

0    22.0
1    38.0
Name: age, dtype: float64

In [10]:
age.tail()

886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, dtype: float64

In [11]:
age.dtype

dtype('float64')

In [12]:
age.shape

(891,)

In [13]:
len(age)

891

In [14]:
age.index

RangeIndex(start=0, stop=891, step=1)

In [15]:
age.to_frame().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     714 non-null    float64
dtypes: float64(1)
memory usage: 7.1 KB

## Analyzing Numerical Series

In [16]:
age

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, Length: 891, dtype: float64

In [17]:
age.describe()

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: age, dtype: float64

In [18]:
age.count()

714

In [19]:
age.size

891

In [20]:
age.sum()

21205.17

In [21]:
sum(age)

nan

In [22]:
age.sum(skipna=False)

nan

In [23]:
age.mean()

29.69911764705882

In [24]:
age.median()

28.0

In [25]:
age.std()

14.526497332334044

In [26]:
age.min()

0.42

In [27]:
age.max()

80.0

In [28]:
age.unique()

array([22.  , 38.  , 26.  , 35.  ,   nan, 54.  ,  2.  , 27.  , 14.  ,
        4.  , 58.  , 20.  , 39.  , 55.  , 31.  , 34.  , 15.  , 28.  ,
        8.  , 19.  , 40.  , 66.  , 42.  , 21.  , 18.  ,  3.  ,  7.  ,
       49.  , 29.  , 65.  , 28.5 ,  5.  , 11.  , 45.  , 17.  , 32.  ,
       16.  , 25.  ,  0.83, 30.  , 33.  , 23.  , 24.  , 46.  , 59.  ,
       71.  , 37.  , 47.  , 14.5 , 70.5 , 32.5 , 12.  ,  9.  , 36.5 ,
       51.  , 55.5 , 40.5 , 44.  ,  1.  , 61.  , 56.  , 50.  , 36.  ,
       45.5 , 20.5 , 62.  , 41.  , 52.  , 63.  , 23.5 ,  0.92, 43.  ,
       60.  , 10.  , 64.  , 13.  , 48.  ,  0.75, 53.  , 57.  , 80.  ,
       70.  , 24.5 ,  6.  ,  0.67, 30.5 ,  0.42, 34.5 , 74.  ])

In [29]:
len(age.unique())

89

In [30]:
age.nunique(dropna = True)

88

In [31]:
age.value_counts()

24.00    30
22.00    27
18.00    26
28.00    25
19.00    25
         ..
55.50     1
74.00     1
0.92      1
70.50     1
12.00     1
Name: age, Length: 88, dtype: int64

In [32]:
age.value_counts(sort=True)

24.00    30
22.00    27
18.00    26
28.00    25
19.00    25
         ..
55.50     1
74.00     1
0.92      1
70.50     1
12.00     1
Name: age, Length: 88, dtype: int64

In [33]:
age.value_counts(dropna=False)

NaN      177
24.00     30
22.00     27
18.00     26
28.00     25
        ...
0.42       1
34.50      1
66.00      1
14.50      1
0.92       1
Name: age, Length: 89, dtype: int64

In [34]:
age.value_counts(ascending=True)

0.67      1
14.50     1
36.50     1
74.00     1
24.50     1
         ..
19.00    25
30.00    25
18.00    26
22.00    27
24.00    30
Name: age, Length: 88, dtype: int64

### Frequencia Absoluta, normalize = False

In [35]:
age.value_counts(sort=True, dropna=True, ascending=False, normalize = False)

24.00    30
22.00    27
18.00    26
28.00    25
19.00    25
         ..
55.50     1
74.00     1
0.92      1
70.50     1
12.00     1
Name: age, Length: 88, dtype: int64

#### Frequencia relativa, normalize = True......sÃ£o os percentuais de cada valor

In [36]:
age.value_counts(sort=True, dropna=True, ascending=False, normalize = True)

24.00    0.042017
22.00    0.037815
18.00    0.036415
28.00    0.035014
19.00    0.035014
           ...
55.50    0.001401
74.00    0.001401
0.92     0.001401
70.50    0.001401
12.00    0.001401
Name: age, Length: 88, dtype: float64

In [37]:
age.value_counts(sort=True, dropna=True, ascending=False, normalize = False, bins = 5)

(16.336, 32.252]    346
(32.252, 48.168]    188
(0.339, 16.336]     100
(48.168, 64.084]     69
(64.084, 80.0]       11
Name: age, dtype: int64

### Analyzing non-numerical Series

In [43]:
summer = pd.read_csv('../Course_Materials_Part1/Video_Lecture_NBs/summer.csv')

In [44]:
summer.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

In [45]:
summer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31165 entries, 0 to 31164
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        31165 non-null  int64
 1   City        31165 non-null  object
 2   Sport       31165 non-null  object
 3   Discipline  31165 non-null  object
 4   Athlete     31165 non-null  object
 5   Country     31161 non-null  object
 6   Gender      31165 non-null  object
 7   Event       31165 non-null  object
 8   Medal       31165 non-null  object
dtypes: int64(1), object(8)
memory usage: 2.1+ MB

In [48]:
athlete = summer["Athlete"]

In [49]:
athlete.head()

0         HAJOS, Alfred
1      HERSCHMANN, Otto
2     DRIVAS, Dimitrios
3    MALOKINIS, Ioannis
4    CHASAPIS, Spiridon
Name: Athlete, dtype: object

In [50]:
type(athlete)

pandas.core.series.Series

In [51]:
athlete.shape

(31165,)

In [52]:
athlete.describe()

count               31165
unique              22762
top       PHELPS, Michael
freq                   22
Name: Athlete, dtype: object

In [53]:
athlete.size

31165

In [54]:
athlete.count()

31165

In [55]:
athlete.min()

'AABYE, Edgar'

In [56]:
athlete.unique()

array(['HAJOS, Alfred', 'HERSCHMANN, Otto', 'DRIVAS, Dimitrios', ...,
       'TOTROV, Rustam', 'ALEKSANYAN, Artur', 'LIDBERG, Jimmy'],
      dtype=object)

In [57]:
len(athlete.unique())

22762

In [58]:
athlete.nunique()

22762

In [59]:
athlete.value_counts()

PHELPS, Michael            22
LATYNINA, Larisa           18
ANDRIANOV, Nikolay         15
ONO, Takashi               13
SHAKHLIN, Boris            13
                           ..
ZHENG, Dongmei              1
KOWAL, Frederic             1
KHIMICH, Andrei             1
DYACHENKO, Alexander        1
SUSELBEEK, Herman Johan     1
Name: Athlete, Length: 22762, dtype: int64

In [62]:
athlete.value_counts(normalize=False, ascending=True)

JOHNSON, William Athelstan      1
RAFAEL                          1
THIERCELIN, Raoul               1
DRESTYAK-DUNAI, Lajos           1
MONTECCHIA, Alejandro Ariel     1
                               ..
MANGIAROTTI, Edoardo           13
SHAKHLIN, Boris                13
ANDRIANOV, Nikolay             15
LATYNINA, Larisa               18
PHELPS, Michael                22
Name: Athlete, Length: 22762, dtype: int64