# Hierarchical Indexing(MultiIndex) with Groupby

In [1]:
import pandas as pd

In [2]:
tit = pd.read_csv('../Course_Materials_Part2/Video_Lecture_NBs/titanic.csv', usecols=['survived', 'pclass', 'sex', 'age', 'fare'])

In [3]:
tit

     survived  pclass     sex   age     fare
0           0       3    male  22.0   7.2500
1           1       1  female  38.0  71.2833
2           1       3  female  26.0   7.9250
3           1       1  female  35.0  53.1000
4           0       3    male  35.0   8.0500
..        ...     ...     ...   ...      ...
886         0       2    male  27.0  13.0000
887         1       1  female  19.0  30.0000
888         0       3  female   NaN  23.4500
889         1       1    male  26.0  30.0000
890         0       3    male  32.0   7.7500

[891 rows x 5 columns]

In [5]:
summary = tit.groupby(['sex', 'pclass']).mean()