# Intro to N/a Values

In [2]:
import numpy as np
import pandas as pd

In [3]:
sales = pd.read_csv('../Course_Materials_Part2/Video_Lecture_NBs/sales.csv', index_col=0)

In [4]:
sales

        Mon  Tue  Wed   Thu  Fri
Steven   34   27   15   NaN   33
Mike     45    9   74  87.0   12
Andi     17   33   54   8.0   29
Paul     87   67   27  45.0    7

In [5]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, Steven to Paul
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Mon     4 non-null      int64
 1   Tue     4 non-null      int64
 2   Wed     4 non-null      int64
 3   Thu     3 non-null      float64
 4   Fri     4 non-null      int64
dtypes: float64(1), int64(4)
memory usage: 192.0+ bytes

In [6]:
sales.loc["Steven", "Thu"]

nan

In [7]:
sales.iloc[1,1]

9